@import "/src/assets/styles/reset.scss";
@import "/src/assets/styles/flexboxgrid.scss";
@import "/src/assets/styles/globals.scss";
@import "/src/assets/styles/helper.scss";


.check__box {
    font-family: 'Noto Sans';
    display: flex;
    position: relative;
    padding-left: 34px;
    margin-bottom: 11px;
    cursor: pointer;
    font-size: 16px;
    color: #666666;

    /* Hide the browser's default radio button */
    & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;

    }

    /* Show the indicator (dot/circle) when checked */
    & input:checked~.checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    & .checkmark:after {
        top: 7px;
        left: 7px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #7A5CFA;

    }

}



.tick_agree {
    font-family: 'Noto Sans';
    display: flex;
    position: relative;
    padding-left: 34px;
    margin-bottom: 11px;
    cursor: pointer;
    font-size: 16px;
    color: #666666;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #CCCCCC;

    /* Create the indicator (the dot/circle - hidden when not checked) */
    &:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* On mouse-over, add a grey background color */
    &:hover input~.checkmark {
        background-color: #7A5CFA;
    }

    &:checked~.checkmark {
        background-color: #ffffff;
    }
}


body {
    background-color: #CFC9E9;
}

*:hover {
    border-color: #7A5CFA;
    outline: #7A5CFA;
}

.form {
    margin: 80px auto;
    background-color: #FFFFFF;
    justify-items: center;
    max-width: fit-content;

}

.form__container {
    position: relative;
    display: grid;
    grid-template-columns: 900px;
    gap: 34px;
    justify-items: stretch;
    padding: 100px;
}

.form__input {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    padding: 16px;
    font-size: 16px;
    color: #666666;
    box-shadow: 0 0 5pt 2pt #d3d3d3;

    width: 100%;

    &:hover,
    &:focus {
        outline: #7A5CFA;
    }
}

.form_label {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #666666;
}

.form__main {
    display: grid;
    grid-template-columns: minmax(256px, 565px);
    justify-self: center;
    gap: 30px;
}

.button__section {
    display: flex;
    justify-content: space-between;
    position: relative;
}


.button {
    background-color: #7A5CFA;
    border-radius: 8px;
    padding: 16px;
    font-size: 16px;
    color: white;
    overflow: none;
    border: none;
    box-shadow: 0 0 5pt 2pt #d3d3d3;

    &:focus {
        outline: 1px solid #4c24fac9;
    }
    &:hover{
        cursor: pointer;
        background-color: #5d39fd;
    }
}

.form__select {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    gap: 32px;

}

.tick_agree {
    grid-column: 1/3;
}

.laptop {
    top: 0;
    left: 0;
}

.circle--green {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #13C39C;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    grid-column: 3;
    grid-row: 1;
}

.heading1--greetings {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 40px;
    color: #081F32;
    grid-column: 1/4;
    grid-row: 2;
    align-self: center;
}

.sucess__screen {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sucess__screen__greetings {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 16px;
    padding: 10px 10px 40px 0px;
}

.avatar {

    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
    align-items: center;

    & img {
        padding-right: 15px;
    }

    & a {
        text-decoration: none;
    }

    & a:hover {
        text-decoration: underline #007AE9 2px;
    }

    & a:visited {
        color: #007AE9;
    }

}

.footer {
    font-family: 'Open Sans';
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    grid-column: 1/4;
    grid-row: 3;
    align-items: flex-end;
    font-weight: 600;
    font-size: 18px;
    color: #007AE9;
}

.avatar__img {
    height: 24px;
    width: 24px;
}

.readMore {
    display: flex;
    justify-content: right;
    align-items: center;

    & a {
        text-decoration: none;
    }

    & a:hover {
        text-decoration: underline #007AE9 2px;
    }

    & a:visited {
        color: #007AE9;
    }
}



//could be also changed to hide or show using visible
.input__span__info {
    font-family: 'Noto Sans';
    font-size: 12px;
    visibility: hidden;
}

.show {
    visibility: visible;
}

.show--red {
    color: #EB5757;
}

.dropdown__choice {
    display: none;
    border: 1px solid rgba(25, 59, 103, 0.05);
    box-shadow: 0px 18px 64px -8px rgba(28, 50, 79, 0.38), 0px 4px 24px -3px rgba(28, 55, 90, 0.16);
    border-radius: 4px;
    flex-direction: column;
    width: 100%;
    position: absolute;
    border-radius: 6px;
    margin-top: 3px;
    background-color: #FFFFFF;


    a {
        font-family: "Roboto";
        font-weight: 400;
        text-decoration: none;
        color: #616161;
        background: #FFFFFF;
        font-size: 17px;
        min-width: 167px;
        padding: 12px 8px;
        margin-top: 5px;
        transition: 600ms;

        &:hover {
            border-radius: 50px;
            box-shadow: 0px 18px 64px -8px rgba(28, 50, 79, 0.38), 0px 4px 24px -3px rgba(28, 55, 90, 0.16);
            background-color: #007AE9;
            transition: 200ms;

        }
    }
}

.button__dropdown {
    font-family: 'Montserrat';
    background: #007AE9;
    border: none;
    border-radius: 4px;
    padding: 20px 60px;
    color: #FFFFFF;
    font-size: 17px;
    outline: none;
    min-width: 167px;

}

.pop_up_sucess {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(207, 201, 233, 0.7);
}

.sucess__screen {
    top: 50%;
    left: 10%;
    background-color: #FFFFFF;
    transform: translate(0, -50%);
    position: absolute;
    border-radius: 16px;
}

.popup_show {
    display: flex;
    z-index: 2;

    &>.form__container {

        filter: blur(12px);
    }
}